* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
:root {
  background-color: var (--bg-color-red brown);
  background-color: var(--bg-color-wt rgb(242, 245, 244));
  background-color: var(--bg-color-bl blue);
  background-color: var(--bg-color-gree rgb(205, 255, 208));
  background-color: var(--bg-color-prp rgb(146, 62, 143));
  background-color: var(--bg-color-bj bisque);
  background-color: var(--bg-color-yw rgb(217, 234, 123));
  background-color: var(--bg-color-grey rgb(71, 69, 69));
}
.wrapper {
  height: 100vh;
  background-color: gold;

  .top {
    height: 50px;
    width: 80%;
    background-color: blue;
    float: inline-end;
    text-align: end;
  }

  .top-lft {
    height: 100vh;
    width: calc(100% / 5);
    background-color: brown;
    float: inline-start;
  }

  .body-cntn {
    width: calc(100% / 7);
    height: 100vh;
    background-color: bisque;
    float: inline-end;
    width: 80%;
  }

  .bottom {
    width: 100%;
    height: calc(100% / 12);
    background-color: gray;
    float: inline-end;
  }

  .categ {
    background-color: yellow;
    width: 100%;
    height: calc(100% / 12);
    display: flex;
  }

  .title-cat {
    background-color: green;
    width: 33%;
    height: calc(100% / 12);
    margin: 0;
  }

  .title-played {
    width: 100%;
    padding: 1rem;
    text-align: justify;
  }

  .list-categ {
    width: 100%;
    height: 50%;
    text-align: center;
    background-color: rgb(10, 80, 80);
    display: flex;
    padding: 1rem;
  }
}

.title-played {
}

.flex {
  display: flex;
}

ul {
  list-style-type: none;
}
