* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrapper {
  height: 100vh;
  background-color: #141922;

  .top {
    height: calc(100% - 120px);
    background-color: #080b12;
    color: white;
  }

  .brd {
    display: flex;
    border: 1px solid white;
    border-radius: 15px;
    margin-right: 1rem;

    padding: 1rem;
    align-items: center;

    width: 210px;
    font-size: 15px;
    justify-content: center;
    height: 30px;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: yellow;
}

.top-lft {
  width: 230px;
  /* height: 100%; */
  background-color: #000000;
  color: white;
}

.body-cntn {
  width: calc(100% - 230px);
  background-color: #141922;
  overflow: auto;
}

.bottom {
  width: 100%;
  height: 120px;
  background-color: gray;
}

.upgrade {
  height: 90px;
  background-color: #141922;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.categ {
  width: 100%;
  display: flex;
}

.title-cat {
  color: #86888c;
  width: 33%;
  margin: 0;
}

.title-played {
  width: 100%;
  padding: 1rem;
  text-align: justify;
}

.list-categ {
  margin-top: 1rem;
  width: 100%;
  color: #86888c;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 16px;
}

.fluo {
  border: 2px solid yellowgreen;
  position: absolute;
  height: 33px;

  margin-left: -12px;
}

.fluo_ {
  border-bottom: 1px solid yellowgreen;
  width: 28px;
}

.crd-log-sptf {
  width: 100%;
  height: 57px;
  padding: 1rem;
}

.img-logo-top-sptf,
.icon-home,
.icon-srch,
.icon-lib {
  height: 30px;
}

.mrg-btm {
  margin-bottom: -3px;
}

.list-top-lft {
  padding: 1rem;

  position: relative;
  font-size: 16px;
  line-height: 2.5rem;
}

.list-add > *li {
  gap: 1rem;
}

.icon-add {
  color: white;
  background-color: grey;
  border: 1px solid gray;
  height: 16px;
  width: 16px;
}

.card-col {
  width: calc(100% / 12 * (12 / 6));
}

.flex {
  display: flex;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 750px) {
  .wrapper {
    padding: 1rem;
    max-width: 100%;
  }
  .top {
    max-width: 100%;
  }

  .top-lft {
    max-width: 100%;
  }
}
